*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}


@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');



body {
    font-family: 'Oswald', sans-serif;
    background: #f9f9f9;
}

a {
    color: #333;
    text-decoration: none;
}

.container {
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}


.main-header {
    height: 55vh;
    background: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    margin-bottom: 2rem;
}

.main-header h1 {
     font-size: 3.5rem;
     margin-bottom: 2rem;
     line-height: 1.2;
   
     color: #b50d10; 
}


.main-header h1 span {
    color: white;
}

.main-header p {
    font-size: 1.5rem;
    color: white;
}

img {
    width: 100%;
    height: 400px;
    object-fit:cover;
}

.card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    background: #f1f1f1;
    margin-bottom: 2rem;
}

.card h3 {
    margin-bottom: 2rem;
    font-weight: 600;
    font-size: 2.1rem;
    text-transform: capitalize;
}

.card p {
    font-weight: 500;
    font-size: 1.3rem;
}


.card > div {
    padding: 2rem;
}


.card:nth-child(even) img {
    order: 2;
}

.card:nth-child(2) {
    transition: 1s;
}


.btn {
    display: inline-block;
    background-color: #b50d10;
    color: #fff;
    padding: 0.8rem 1.8rem;
    margin-top: 2rem;
    cursor: pointer;

}


.btn:hover {
    opacity:0.8 ;
}


@media (max-width: 700px) {
    .card {
        display: block;
    }

    .container {
        margin: 0 60px;
    }

    
.main-header h1 {
    font-size: 2rem;
    line-height: 0.9rem;
}

.main-header p {
    font-size: 1rem;
}

img  {
    height: 300px;
}

.card h3 {
    font-size: 1.7rem;
}

.card p {
    font-size: 1rem;
}
}